*.DS_Store
kk*
*.log
*.bak
build
*.mov
*.VOD
*.qi2m
*.asv
msis
QTils/build
QTils/Develop
QTils/Release
QTils/Debug
QTils/msis
QTils/emsg
*.suo
*.user
*.ncb
DestroyWindow
*/Debug
*/Develop
*/Release
*.kml
*.dll
*.docset
QTMovieSink-VS2008/ipch
*.opensdf
*.sdf
*/bertin.mode1v3
*/bertin.pbxuser
bertin.mode1v3
QTils/POSIXm2-debug.dll
QTils/Mod2/.metadata
*.err
QTils/Mod2/TstQTilsM2.exe
QTils/Mod2/TstQTVDSrv.exe
QTils/Mod2/BinAsciiSumo.exe
QTils/Mod2/DonneesLambertII.txt
QTils/Mod2/LibQT.def
QTils/Mod2/LibQT.lib
QTils/Mod2/LibQT.sbp
QTils/Mod2/QTilsM2.lib
QTils/Mod2/QTVODlibs.lib
QTils/Mod2/QTVODm2.vcxproj.filters
*.kml_
*.txt_
QTils/Mod2/inArchiSim
QTils/Mod2/inQTilsMod2
QTils/Mod2/win32obj
QTils/Mod2/win32sym

QTils/ipch/
QTMovieSink-106old.xcodeproj
QTVODm2-v1.3-installer.exe.zip
QTVODm2-v1.3-installer.7z
*.csv
*.ltp
*.7z
QTVODm2-v1.3RC-installer.exe
QTVODm2-v1.3RC-devel-dev-installer.exe
QTVOD-Mac-rw.dmg
QTVODm2-v1.3RC2-installer.exe
QTVODm2-v1.3RC2-devel-dev-installer.exe
QTils/Mod2/Debug
QTils/Mod2/CreateProcess.cpp
QTils/Mod2/CreateProcess.exe
QTils/Mod2/CreateProcess.sln
QTils/Mod2/CreateProcess.vcxproj
QTils/Mod2/win32getpath.c
QTils/Mod2/win32popen.c
QTils/Mod2/win32popen.h
QTils/Mod2/QTVODm2.H
QTils/Mod2/*.dll
QTils/Mod2/VisuIEF
QTils/Mod2/QTVODm2-client.lnk
QTVODm2-v1.4RC4-installer.exe
QTVODm2-v1.4RC4-devel-dev-installer.exe
