*.DS_Store
kk*
*.log
*.bak
build
*.mov
*.VOD
*.qi2m
*.asv
msis
QTils/build
QTils/Mod2
QTils/Develop
QTils/Release
QTils/Debug
QTils/msis
QTils/emsg
*.suo
*.user
*.ncb
DestroyWindow
*/Debug
*/Develop
*/Release
*.kml
*.dll
*.docset
QTMovieSink-VS2008/ipch
*.opensdf
*.sdf
*/bertin.mode1v3
*/bertin.pbxuser
bertin.mode1v3

QTils/POSIXm2-debug.dll
