*.DS_Store
kk*
*.log
*.bak
build
*.mov
*.VOD
*.qi2m
*.asv
msis
QTils/build
QTils/Mod2
QTils/Develop
QTils/Release
QTils/Debug
QTils/msis
QTils/emsg
*.suo
*.user
*.ncb
DestroyWindow
*/Debug
*/Develop
*/Release
*.kml
*.dll
